<div class="container my-3" style="text-align: center">
  <h1>Groceries</h1>
</div>
<div id="field" class="d-flex">
  <div class="leftfield" style="flex: 50%">
    <div class="search">
      <div class="searchbar">
        <%= form_tag(user_grocery_search_path(@senior), {:class => "form", method: :get}) do %>
          <%= text_field_tag (:query) %>
          <%= submit_tag "Add", class: "btn btn-primary"%>
        <% end -%>
      </div>
      <!-- search kroger -->
      <!-- list result with a link -->
      <!-- link will save as a provider action -->
      <% if @products %>
        <div id="searchresults" class="search-results mt-3 d-flex flex-wrap">
          <% @products['data'].each do |product| %>
            <%= simple_form_for [ @senior, @provider_action ] do |f| %>
              <div class="card-button">
                <% photo_url = product['images'].find { |thing| thing['perspective'] == 'front' }['sizes'].find { |thing| thing['size'] == 'small' }['url'] %>
                <%= image_tag photo_url, alt: "alttext" %>
                <div class="card-info" style="width: 300px"> <!-- YOSHIKI I HARD CODED THE WIDTH HERE -->
                  <%= f.input :provider_id, input_html: { value: @provider.id }, as: :hidden %>
                  <%= f.input :name, input_html: { value: product['description'] }, as: :hidden %>
                  <%= f.input :price, input_html: { value: product['items'][0]['price']['regular'].to_f }, as: :hidden %>
                  <%= f.simple_fields_for :additional_info do |p| %>
                    <%= p.input :photo_url, input_html: { value: product['images'].find { |thing| thing['perspective'] == 'front' }['sizes'].find { |thing| thing['size'] == 'large' }['url'] }, as: :hidden %>
                  <% end %>
                  <p><%= product['description']%></p>
                </div>
                <%= f.button :submit, "", class: "button-card-link" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <!-- render into here -->
        <div class="container" id="inactive" style="flex: 50%">
          <ul id="grocery-items-inactive">
            <% @provider.provider_actions.where(user: @senior).order(created_at: :desc).each do |item| %>
              <div class="card-body pl-0">
                <div class="card-grocery-item">
                  <div class="card-image">
                    <%= cl_image_tag (item.photo.attached? ? item.photo.key : "" ), alt: "alttext" %>
                  </div>
                  <div class="d-flex justify-content-between w-100">
                    <div class="card-description my-auto">
                      <h3><%= item.name %></h3>
                      <h6>Price per item: $<%= item.price %></h6>
                    </div>
                    <div id="slider" class="item-toggle my-auto">
                      <%= form_for [current_user ,item] do |f| %>
                        <label class="toggle-switchy" for="toggle<%= item.id %>" data-color="green">
                          <!-- <input checked type="checkbox" id="toggle<%= item.id %>"> -->
                          <%= f.check_box :enabled, type: "checkbox", id: "toggle#{item.id}", onChange: "this.form.submit()" %>
                          <span class="toggle">
                            <span class="switch"></span>
                          </span>
                        </label>
                        <%#= f.submit %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="rightfield-container">
    <div class="rightfield mb-0">
      <div class="ipad-contents">
        <%= render 'provider_actions/shopping', button: @button, order: nil %>
      </div>
    </div>
    <div class="note">
      <h3 style="text-align: center"><em><%= @provider_action.user.first_name.capitalize %>'s App Layout</em></h3>
    </div>
  </div>
</div>