<%= render 'shared/senior-navbar', button: @button %>
<div class="senior-background">
  <!-- <div class="container tester" "> -->
  <!--  <div class="col pt-3">
      <h1 style="text-align: center;margin: 56px 0;">
      <div class= "return-btn">
      <<div class="return-btn-triangle"></div> -->
  <!-- <div class="return-btn-bar"></div> -->
  <!-- </div> -->
  <!-- </div> -->
  <div class="form-order" style="height: calc(100vh - 145px)">
    <% if @button.provider.name == "Groceries" %>
      <%= render 'provider_actions/shopping', button: @button, order: @order %>
    <% elsif @button.provider.name == "FaceTime"  %>
      <%= render 'provider_actions/facetime', button: @button %>
    <% elsif @button.provider.name == "Emergency" %>
      <%= render 'provider_actions/emergencybtn', button: @button %>
    <% elsif @button.provider.name == "Taxi"  %>
      <%= render 'provider_actions/taxi', button: @button %>
    <% elsif @button.provider.name == "Food delivery" %>
      <%= render 'provider_actions/food_delivery', button: @button %>
    <% end %>
  </div>
</div>