<%= simple_form_for(order || :order) do |f| %>
  <%= hidden_field_tag :button_id, button.id %>
  <div class="form-group">
    <label class="control-label check_boxes"></label>
    <!-- <input type="hidden" name="order[hidden]"> -->
    <div class="category-choices">
      <% button.provider_actions.where(user: button.user).each_with_index do |provider_action, index| %>
        <% if provider_action.enabled %>
          <input type="checkbox" class="hidden" value="<%= provider_action.id %>" name="order[order_items_attributes][<%= index %>][provider_action_id]" id="post_category_ids_<%= provider_action.id %>">
          <label for="post_category_ids_<%= provider_action.id %>" class="category-choice">
            <%#= provider_action.name %>
            <%= cl_image_tag (provider_action.photo.attached? ? provider_action.photo.key : "https://images.unsplash.com/photo-1519340241574-2cec6aef0c01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80" ), alt: "" %>
          </label>
        <% end %>
        <%= f.submit class: 'd-none', id: 'new_form_btn' %>
      <% end %>
    </div>
  </div>
  <%#= f.button :submit,'Order Now', class: 'create-btn btn-primary', disabled: true %>
<% end %>