<% if @provider %>
  <div class="container">
    <%= simple_form_for [ @senior, @provider_action ] do |f| %>
      <%= f.input :provider_id, input_html: { value: @provider.id }, as: :hidden %>
      <%= render "providers/#{@provider.name.downcase}", form: f %>
    <% end %>
  </div>
  <% @provider.provider_actions.where(user: @senior).each do |item| %>
    <p><%= item.name %></p>
  <% end %>
<% else %>
  <div class="container">
    <%= simple_form_for [ @senior, @provider_action ] do |f| %>
      <%= f.association :provider %>
    <% end %>
  </div>
<% end %>