<!-- show.html.erb THIS IS FOR THE CAREGIVER TO BE ABLE TO SEE THE SENIORS BUTTONS -->
<div class="main-container" style="display: flex">
  <div class="vertical-navbar-container" style="flex: 16%">
    <%= render 'shared/vertical-navbar', current_senior:@senior %>
  </div>
  <div class="container-dashboard" style="flex: 84%">
    <div class="card-container">
      <div class="container mb-4" id="activebuttons">
        <%= render 'shared/button-card' %>
      </div>
      <div class="container d-flex p-0">
        <div class="container pt-3" style="flex: 40%" id="profile">
          <h3>Profile</h3>
          <p>Fav color magenta</p>
          <p>69 years old</p>
          <p>Address??</p>
          <!-- render settings page -->
        </div>
        <div class="d-flex" style="flex-direction: column, flex: 60%">
          <div class="container mx-3 pt-3" id="orders">
            <h3>Recent Order</h3>
            <% total = 0.00 %>
            <% @senior.orders.last.provider_actions.each do |item| %>
              <p><%= item.name %></p>
              <% total += item.price %>
            <% end %>
            <h2>total: <%= total  %></h2>
          </div>
          <div class="container py-4" id="line">
            <%= render 'shared/line-card'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>