<!-- show.html.erb THIS IS FOR THE CAREGIVER TO BE ABLE TO SEE THE SENIORS BUTTONS -->
<div class="main-container" style="display: flex">
  <div class="vertical-navbar-container" style="flex: 16%">
    <%= render 'shared/vertical-navbar', current_senior:@senior %>
  </div>
  <div class="container-dashboard" style="flex: 84%">
    <div class="card-container">
      <div class="container mb-4" id="activebuttons">
        <%= render 'shared/button-card' %>
      </div>
      <div class="container d-flex p-0">
        <div class="container pt-3" style="flex: 40%" id="profile">
          <h3>Profile</h3>
          <div class="container mt-4">
            <p><strong>Name:</strong> <%= @senior.first_name.capitalize%> <%= @senior.last_name.capitalize %></p>
            <p><strong>Age: </strong><%= @senior.birthday %></p>
            <p><strong>Address: </strong> <%= @senior.address %></p>
            <p><strong>CC: </strong> <%= @senior.credit %></p>
          </div>
          <!-- render settings page -->
        </div>
        <div class="d-flex" style="flex-direction: column, flex: 60%">
          <div class="container mx-3 pt-3" id="orders">
            <h3>Recent Order</h3>
            <p><% total = 0.00 %></p>
            <% if @senior.orders.last %>
              <% @senior.orders.last.provider_actions.each do |item| %>
                <tr><%= item.name %></tr>
                <hr>
                <% total += item.price %>
              <% end %>
              <h5 style="text-align: right">total: <%= total  %></h5>
            <% end %>
          </div>
          <div class="container py-4" id="line">
            <%= render 'shared/line-card'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>