<!-- show.html.erb THIS IS FOR THE CAREGIVER TO BE ABLE TO SEE THE SENIORS BUTTONS -->
<div class="container py-4">
  <%= render 'shared/senior-card', senior: @senior %>
</div>
<div class= "menu-btn"> <%=link_to dashboard_path, class:'btn btn-return' do %>
    Return
  <% end %>
</div>
<div class="senior-show">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-dashboard" aria-selected="false">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-requests-tab" data-toggle="pill" href="#pills-requests" role="tab" aria-controls="pills-requests" aria-selected="true">Requests</a>
    </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-requests" role="tabpanel" aria-labelledby="pills-requests-tab">
    <!-- render senior orders here -->
    <%= render 'orders/index', orders: @senior.orders %>
  </div>
  <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
    <div class="container py-3" style="text-align: center">
      <h3><%= @senior.first_name %>'s Action Buttons</h3>
    </div>
    <ol  id="items">
      <% @senior.buttons.each do |button|%>
        <li><%= button.name %></li>
      <% end %>
    </ol>
    <%= link_to 'Add Another', new_user_button_path(@senior), class: "btn btn-primary"%>
  </div>
</div>