<!-- show.html.erb THIS IS FOR THE CAREGIVER TO BE ABLE TO SEE THE SENIORS BUTTONS -->
<div class="container py-4">
  <%= render 'shared/senior-card', senior: @senior %>
</div>
<div class="senior-show">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-dashboard" aria-selected="false">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-requests-tab" data-toggle="pill" href="#pills-requests" role="tab" aria-controls="pills-requests" aria-selected="true">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-line-tab" data-toggle="pill" href="#pills-line" role="tab" aria-controls="pills-line" aria-selected="true">LINE</a>
    </li>
  </ul>
</div>
<div class="tab-content mb-3" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-requests" role="tabpanel" aria-labelledby="pills-requests-tab">
    <!-- render senior orders here -->
    <%= render 'orders/index', orders: @senior.orders.order(created_at: :desc) %>
  </div>
  <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
    <div class="container py-3" style="text-align: center">
      <h3><%= @senior.first_name.capitalize %>'s Action Buttons</h3>
    </div>
    <div  id="items">
      <div class="grid-container-2">
        <% @senior.buttons.each do |button|%>
          <div class="grid-item-group-2">
            <%= link_to new_user_provider_action_path(@senior, provider: button.provider), id: "#{button.name.underscore}-button" do %>
              <li class="grid-item-2">
                <div class="container">
                  <%= cl_image_tag (button.photo.attached? ? button.photo.key : "https://www.clker.com/cliparts/f/q/Q/u/f/t/push-button-glossy-red-hi.png" ), alt: "alttext" %>
                  <h1> <%= button.name %> </h1>
                </div>
              </li>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Add service', new_user_button_path(@senior), class: "btn btn-primary"%>
  </div>
  <div class="tab-pane fade show" id="pills-line" role="tabpanel" aria-labelledby="pills-line-tab">
    <div class="container d-flex">
      <%= image_tag "lineqr.png", alt: "LINE QR code" %>
      <h2>Hey Yoshiki where should I go?</h2>
      <h3>we could possibly put something here about if they are connected or not</h3>
      <h4>If true then i have a connected line id:<%= current_user.line_id.present? %></h4>
    </div>
  </div>
</div>